body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
a {
	text-decoration: none;
}
.app {
	max-width: 960px;
	margin: auto;
}

.sort-options {
	display: flex;
	margin-top: 16px;
}

.sort-options button {
	background: none;
	border: none;
	outline: none;
	padding: 0 10px 0 10px;
	margin: auto 0 auto 0;
	display: flex;
	width: 64px;
	line-height: 16px;
	font-size: 16px;
}

.sort-options img {
	height: 16px;
}

.vote-button {
	background: none;
	border: none;
	outline: none;
	padding: 0;
	width: 24px;
}

.vote-box {
	width: 24px;
	text-align: center;
}

.category-nav {
	margin-bottom: 16px;
}

.category-nav .selected {
	background: #888888;
}

.category-link {
	padding: 0 10px 0 10px;
	text-transform: capitalize;
}

.posts-list {
	display: flex;
	flex-flow: column nowrap;
}

.post {
	width: 100%;
	min-height: 74px;
}

.post-title {
	width: 90%;
}
.post-author {
	font-style: italic;
}

.post-body {
	width: 90%;
}

.vote-box {
	float: left;
	
}

.comments-list {
	display: flex;
	flex-flow: column nowrap;
}

.submit-comment {
	font-size: 12px;
	padding: 20px;
}

.submit-comment-author input {
	font-style: italic;
}

.comment-author {
	font-style: italic;
}

.submit-post-button {
	font-size: 16px;
}