body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
a {
	text-decoration: none;
}
.app {
	max-width: 960px;
	margin: auto;
}

.category-nav .selected {
	background: #888888;
	pointer-events: none;
	cursor: default;
}

.category-link {
	padding: 0 10px 0 10px;
	text-transform: capitalize;
}